h1 {
  font-family: 'Oleo Script', serif;
  font-size: 64px;
  margin: 30px 0 auto;
  text-align: center;
  color: #0A4006;
}

h1 a, a:hover {
  text-decoration: none;
  color: #0A4006;
}

p.nav {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin: 0 auto;
  font-weight: bold;
  font-size: 16px;
}

p {
  font-family: 'Roboto', sans-serif;
  text-align: left;
  margin: 0 auto;
  font-weight: bold;
  font-size: 16px;
}

.nav a {
  color: black;
  text-decoration: none;
}
.nav a:hover {
  color: #0A4006;
  text-decoration: none;
}

#content {
  width: 65%;
  margin: 0 auto;
}

#content a {
  /*color: #096800;
  text-decoration: none;*/
  color: #0A4006;
}

p.projtext {
  text-align:left;
  font-size: 12px;
}

p.cliptext {
  text-align: left;
  font-size: 14px;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 5px;
  margin-top: 5px;
}

h5 {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: bold;
  font-size: 16px;
  margin: 0 0 10px auto;
}

li {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: bold;
  font-size: 14px;
}

@media screen and (max-width: 450px){
  h1 {
    font-size: 42px;
  }
  p {
    font-size: 14px;
  }
  h3 {
    font-size: 20px;
    margin-top: 10px;
  }
  #content {
    width: 90%;
  }
}
