h1 {
  font-family: 'Oleo Script', serif;
  font-size: 64px;
  margin: 30px 0 auto;
  text-align: center;
  font-weight:700;
  color: #006400;
}

h1 a, a:hover {
  text-decoration: none;
  color: #006400;
}

p.nav {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin: 0 auto;
  font-weight: 500;
  font-size: 16px;
}

p {
  font-family: 'Roboto', sans-serif;
  text-align: left;
  margin: 0 auto;
  font-weight: 500;
  font-size: 16px;
}

.nav a {
  color: black;
  text-decoration: none;
}
.nav a:hover {
  color: #006400;
  text-decoration: none;
}

#content {
  width: 65%;
  margin: 0 auto;
}

#content a {
  /*color: #096800;
  text-decoration: none;*/
  color: #0A4006;
}

p.projtext {
  text-align:left;
  font-size: 15px;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 5px;
  margin-top: 5px;
  border-bottom-style: solid;
  border-width: 4px;
  border-color: #006400;
}

h5 {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 500;
  font-size: 16px;
  margin: 0 0 10px auto;
}

li {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: bold;
  font-size: 14px;
}
/* we gon work on a simple lil grid mkay */
.clipgrid {
  display: grid;
  grid-gap: 20px;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
  "a b c"
  "d e f"
  "g h i";
}

p.cliptitle {
  text-align: center;
  font-weight: 900;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  padding-bottom:5px;
  padding-top:5px;
}
p.cliptext {
  text-align:left;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
}

.clipgrid img {
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.clip1 {
  grid-area: a;
}

.clip2 {
  grid-area: b;
}

.clip3 {
  grid-area: c;
}

.clip4 {
  grid-area: d;
}

.clip5 {
  grid-area: e;
}

.clip6 {
  grid-area: f;
}

.clip7 {
  grid-area: g;
}

.clip8 {
  grid-area: h;
}

.clip9 {
  grid-area: i;
}

@media screen and (max-width: 1150px){
  .clipgrid {
  grid-template-columns: 1fr 1fr;
  padding-bottom: 10px;
  grid-template-areas:
    "a b"
    "c d"
    "e f"
    "g h"
    "i .";
  }
  .clipgrid img {
    width: 100%;
  }
}

@media screen and (min-width: 451px) and (max-width: 750px){
  .clipgrid {
  grid-template-columns: 1fr;
  grid-template-areas:
  "a"
  "b"
  "c"
  "d"
  "e"
  "f"
  "g"
  "h"
  "i";
  }
}

/* mobile */
@media screen and (max-width: 450px){
  h1 {
    font-size: 45px;
  }
  p {
    font-size: 14px;
  }
  h3 {
    font-size: 20px;
    margin-top: 10px;
  }
  #content {
    width: 90%;
  }
}
